@charset "UTF-8";

html {
    font-size: 62.5%; /* ->10px */
}
html, body {
    height: 100%;
}
body {
    font-family:'Meiryo', 'MS PGothic', sans-serif;
    background-color: rgb(255, 254, 244);
    margin: 0;
}

/* box1 */
.box1 {
    background-color: rgba(0, 128, 137);
    border-bottom: solid 0.1rem rgb(255, 254, 244);
}
.site h1 a {
    text-decoration: none;
    font-family: 'Darumadrop One', sans-serif;
    font-size: 4rem;
    color: rgb(255, 254, 244);
}
.site h1 {
    margin: 0 0 0 4rem;
    padding-bottom: 1rem;
}

/* box2 */
.box2 {
    display: flex;
    background-color: rgb(174, 196, 197);
}

.menu {
    padding-left: 3rem;
}
.menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu li {
    border-right: solid 1px rgb(255, 254, 244);
    padding: 0.5rem 1rem;
}
.menu li:first-child {
    border-left: solid 1px rgb(255, 254, 244);
}
.menu li:nth-child(1) {
    background-color: rgb(255, 254, 244);
}
.menu li:hover {
    background-color: rgb(255, 254, 244);
}
.menu li a {
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 550;
    color: rgb(0, 86, 92);
}

.access {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    padding-right: 3rem;
}
.access p {
    margin: 0.5rem 0;
    padding: 0 1rem;
    border-radius: 1.2rem;
    background-color: rgb(0, 86, 92);
}
.access a {
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 550;
    color: rgb(174, 196, 197);
}

/* box3 */
.article-list {
    position: relative;
    display: flex;
    width: 55%;
    margin: 2rem auto;
    padding: 0 2rem;
    box-shadow: 0 0 0.5rem rgb(174, 196, 197);
}
.summary-img {
    display: flex;
    align-items: center;
}
.summary-img img {
    height: 12rem;
}
.summary {
    margin-left: 2rem;
}
.summary time {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 0.5rem;
    font-size: 1.2rem;
    color: rgb(255, 254, 244);
    background-color: rgb(174, 196, 197);
}
.summary a {
    text-decoration: none;
}
.summary h2 {
    font-size: 1.8rem;
    color: black;
    margin: 1.8rem;
}
.summary p {
    font-size: 1.2rem;
    color: gray;
}
.summary:hover {
    text-decoration: underline;
}

.share-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
}
.share {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 254, 244);
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem rgb(0, 86, 92);
}
.share:hover {
    box-shadow: 0 0 0.5rem 0.3rem rgb(0, 86, 92);
}
.share i {
    margin: 0.5rem 0 0.5rem 3rem;
    font-size: 3rem;
    font-weight: bold;
    color: rgba(0, 128, 137);
}
.share p {
    line-height: 1;
    margin: 0.5rem 3rem 0.5rem 0;
    font-size: 2rem;
    font-weight: bold;
    color: rgba(0, 128, 137);
}

.share-hidden {
    display: none;
    background-color: rgb(255, 254, 244);
    border-radius: 1rem;
    box-shadow: 0 0 0.5rem 0.3rem rgb(0, 86, 92);
}
.center p {
    margin: 0.5rem 3rem;
}
.center p a {
    text-decoration: none;
}
.center p a i {
    font-size: 3rem;
}
.share1 p a {
    color: rgb(6, 199, 85);
}
.fa-line:hover {
    color: rgba(6, 199, 86, 0.7);
}
.share2 p a {
    color: rgb(0, 0, 0);
}
.fa-x-twitter:hover {
    color: rgb(0, 0, 0, 0.7);
}
.share3 p a {
    color: rgb(88, 101, 242);
}
.fa-discord:hover {
    color: rgb(88, 101, 242, 0.7);
}


/* box4 */
.box4 p {
    text-align: center;
    margin: 0;
    padding-top: 0.6rem;
    font-size: 1.2rem;
    color: rgb(174, 196, 197);
    border-top: dashed 0.1rem rgb(174, 196, 197);
}

/* fixed */
.top {
    position: fixed;
    bottom: 1.2rem;
    right: 3rem;
    height: 5rem;
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgb(255, 254, 244);
    box-shadow: 0 0 0.5rem rgb(174, 196, 197);
}
.top:hover {
    background-color: rgb(255, 254, 244);
    box-shadow: 0 0 0.5rem 0.3rem rgb(174, 196, 197);
}
.top p a {
    text-decoration: none;
    color: rgb(0, 86, 92);
}
.top p a i {
    font-size: 3rem;
}

/* under 1000px */
@media (max-width: 1000px) {
    .article-list {
        width: 55rem;
    }
}

/* under 700px */
@media (max-width: 700px) {
    html {
        font-size: 50%; /* ->8px */
    }

    .menu {
        padding-left: 1rem;
    }
    .menu li {
        padding: 0.6rem 0.2rem;
    }

    .access {
        padding-right: 1rem;
    }
    .access p {
        margin: 0.6rem 0;
        padding: 0 0.2rem;
    }

    .article-list {
        width: 65%;
        margin: 1rem auto;
    }

    .top {
        right: 2rem;
    }
}